.mypy_cache
environment.yml
*.egg-info
__pycache__
*.pyc
.DS_Store
*.pdf
docs/build
*.p
.vscode
._.DS_Store
*.npz

_build
rivers
docs/chapters/figures/scripts/data/C201711191509A.1D.sac
docs/chapters/figures/dem_animation
.ipynb_checkpoints

# Don't ignore these
!docs/chapters/figures/*.png
!docs/chapters/figures/*.pdf
!docs/chapters/figures/*.svg
