.mypy_cache
environment.yml
lwsspy.egg-info
__pycache__
*.pyc
.DS_Store
*.pdf
docs/build
*.p
.vscode
._.DS_Store
*.npz

_build
rivers
docs/source/chapters/figures/scripts/data/C201711191509A.1D.sac
docs/source/chapters/figures/dem_animation
.ipynb_checkpoints
*.png
*.pdf
*.svg
